<h4 style="margin-top: 30px">Manage categories</h4>

<div style="margin-top: 30px" id="link-div-custom">
    <a asp-controller="Category" asp-action="Add">Add new category</a>
    <br />
    <a asp-controller="Category" asp-action="List">Show all categories</a>
</div>
