@model Clothy.Models.ClothyViewModels.AddItemViewModel

<h4 style="margin-top: 30px">Add new item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Item" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" min="0.01" step="0.01" class="form-control" placeholder="in €" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sizes" class="control-label"></label>
                <input asp-for="Sizes" class="form-control" placeholder="e.g. S,L,M,39,40,42" />
                <span asp-validation-for="Sizes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" placeholder="link to picture online" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    <option disabled selected>Category</option>
                    @await Component.InvokeAsync("CategoryList", new { view = "Pick" })
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Item" asp-action="Manage">Return</a>
</div>