<h4 style="margin-top: 30px">Manage items</h4>

<div style="margin-top: 30px" id="link-div-custom">
    <a asp-controller="Item" asp-action="Add">Add new Item</a>
    <br />
    <a asp-controller="Item" asp-action="List">Show all items</a>
</div>
