@model Clothy.Models.ClothyViewModels.OrderViewModel

<div>
    <span style="margin-right: 10px">@Model.Address</span>
    <span style="margin-right: 10px">@Model.Phone</span>
    <span style="margin-right: 10px">@Model.Mail</span>
    <span style="margin-right: 10px">@Model.DateCreated</span>
</div>