@model Clothy.Models.ClothyViewModels.CategoryViewModel

<div>
    <span><strong>@Model.Name</strong></span>
    <a asp-controller="Category" asp-action="Edit" asp-route-catId="@Model.Id">Edit</a>
    <span> | </span>
    <a asp-controller="Category" asp-action="Remove" asp-route-catId="@Model.Id">Remove</a>
</div>